:root {
    --color-blue: #0085E5;
    --color-text: #484848;
    --color-orange: #FFA000;
    --color-accent-bg: #FfF4E1;
    --color-orange-light: #fff9f0;
    --color-blue-light: #f5fafe;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: 
    radial-gradient(closest-side, white 85%, transparent 80% 100%),
    conic-gradient(#FFA00038 0, var(--color-orange) 75% );
}

.progress-bar--blue {
    background: radial-gradient(closest-side, white 85%, transparent 80% 100%),
    conic-gradient(#FFFFFF 5%,#0085E5 75%);
}

.progress-bar::before {
    content: attr(data-progress);
    font-weight: 500;
    font-size: 14px;
    }

.progress-bar-progress {
    visibility: hidden;
    height:0;
    width:0; 
}

.progress-bar--white {
    background: radial-gradient(closest-side, var(--color-blue) 87%, transparent 90% 100%),
    conic-gradient(#c0ddf538 25%, white 25%);
}       

.progress-bar--orange {
    background: radial-gradient(closest-side, var(--color-orange) 87%, transparent 90% 100%),
    conic-gradient(#f1f1f138 25%, white 25%);
}