@font-face {
    font-family: 'Cera Pro';
    src: url('font/CeraPro-Medium.eot');
    src: url('font/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/CeraPro-Medium.woff') format('woff'),
    url('font/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('font/CeraPro-Regular.eot');
    src: url('font/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/CeraPro-Regular.woff') format('woff'),
    url('font/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}