@import "./font.css";

:root {
    --color-blue: #0085e5;
    --color-text: #484848;
    --color-orange: #ffa000;
    --color-accent-bg: #fff4e1;
}

*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    background-color: white;
    line-height: 1.85;
    font-family: "Cero Pro", sans-serif;
    color: var(--color-text);
}

.header {
    background: var(--color-accent-bg);
}