@import "./font.css";

*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    background-color: white;
    line-height: 1.85;
    font-family: "Cero Pro", sans-serif;
}